.scroll-1 {
    font-size: 20px;
    top: 0;
    border-bottom: 1px solid black;

    .marquee-container {
        position: absolute;
    }
}

.scroll-2 {
    font-size: 20px;
    bottom: 0;
    border-top: 1px solid black;

    .marquee-container {
        position: absolute;
    }
}
