.title {
    width: 96rem;
    height: 20rem;
}

.links {
    display: inline;
}

.apple {
    position: absolute;
    height: 50px;
    width: auto;
    right: 9rem;
    top: 2rem;
}

.insta {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 2rem;
    top: 2rem;
}

.twitter {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 6rem;
    top: 2rem;
}

.spotify {
    position: absolute;
    height: 50px;
    width: auto;
    right: 17rem;
    top: 2rem;
}